<form [formGroup]="currencyForm" class="max-w-md mx-auto mb-4 sm:mb-0 bg-white p-6 rounded-md shadow-md sm:mr-4">
    <div class="mb-4">
      <label for="fromCurrency" class="block text-sm font-semibold mb-2">From Currency</label>
      <select formControlName="fromCurrency" name="fromCurrency" id="fromCurrency" class="input-style" (input)="setCurrencyType($event)">
        <option value="UAH">UAH</option>
        <option value="EUR" selected>EUR</option>
        <option value="USD">USD</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="amountFrom" class="block text-sm font-semibold mb-2">Amount</label>
      <input type="number" formControlName="amountFrom" min="0" value="0" id="amountFrom" class="input-style" (input)="convertCurrency()" required>
    </div>

    <button (click)="swapCurrency()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5 7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
    </svg>
    </button>

    <div class="mb-4">
      <label for="toCurrency" class="block text-sm font-semibold mb-2">To Currency</label>
      <select name="toCurrency" formControlName="toCurrency" id="toCurrency" class="input-style" (input)="setCurrencyType($event)">
        <option value="UAH">UAH</option>
        <option value="EUR" selected>EUR</option>
        <option value="USD">USD</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="amountTo" class="block text-sm font-semibold mb-2">Amount</label>
      <input type="number" formControlName="amountTo" min="0" value="0" id="amountTo" class="input-style" (input)="convertCurrency()" required>
    </div>

  </form>