<header class="flex items-center p-3.5 dark:bg-teal-900 dark:text-yellow-200 text-teal-900 bg-yellow-200">
  <div class="container mx-auto flex justify-between max-w-full">
    <div class="currencies flex text-lg space-x-2">
      <h2>{{ eur }} EUR | {{ usd }} USD</h2>
    </div>
    <h1 class="text-2xl font-bold md:text-4xl">Convertio</h1>
    <button (click)="toggleMode()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 
      transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 dark:hover:text-teal-700 hover:text-yellow-500 duration-300">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
      </svg>
    </button>
  </div>
</header>

<div class="flex flex-col md:flex-row items-center justify-center p-4 flex-grow flex-wrap">
  <app-converter></app-converter>
  <div class="max-w-full md:max-w-sm lg:max-w-md mx-auto md:w-1/3 mx-auto mt-4 md:mt-0">
    <img src="../assets/Coins.gif" alt="Currency illustration" class="w-full dark:hidden ">
    <img src="../assets/Coins_light.gif" alt="Currency illustration" class="w-full hidden dark:block">
  </div>
</div>

<footer class="text-center mt-4 dark:bg-teal-900 dark:text-yellow-200 text-teal-900 bg-yellow-200 p-4">
  Created by Kateryna Pohorila | 
  <a href="https://storyset.com/money" target="_blank" rel="noopener noreferrer">Money illustrations by Storyset</a>
</footer>